<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Space Empires 4x Production Sheet</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
        <div class="container-fluid">
            <div class="row p-1">
                <div class="col">
                    <h2>Turn {{ turn }} - CPs <span class="badge badge-info">{{ constructionPoints }}</span></h2>
                    <button type="button" class="btn btn-danger" v-on:click="clearAll">Clear All</button>
                    <button type="button" class="btn btn-dark" v-on:click="endTurn">End Turn</button>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <ul class="nav nav-tabs" id="SpaceEmpiresTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="cp-tab" data-toggle="tab" href="#cp" role="tab" aria-controls="cp" aria-selected="true">CPs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="technologies-tab" data-toggle="tab" href="#technologies" role="tab" aria-controls="technologies" aria-selected="false">Techno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ships-tab" data-toggle="tab" href="#ships" role="tab" aria-controls="ships" aria-selected="false">Ships</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="commands-tab" data-toggle="tab" href="#commands" role="tab" aria-controls="commands" aria-selected="false">History</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="spaceEmpiresContent">

                        <div class="tab-pane fade show active" id="cp" role="tabpanel" aria-labelledby="cp-tab">
                            <div class="container-fluid">
                                <div class="row p-1">
                                    <div class="col p-1">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <input type="number" class="form-control-lg" v-model="colonyPoints">
                                            </div>
                                                <button type="button" class="btn btn-primary" v-on:click="addColonyPoints">Add Colony Points</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col p-1">
                                        <button type="button" class="btn btn-primary" v-on:click="addFiveMineralPoints">Add 5 Mineral Points</button>
                                    </div>
                                    <div class="col p-1">
                                        <button type="button" class="btn btn-primary" v-on:click="addTenMineralPoints">Add 10 Mineral Points</button>
                                    </div>
                                    <div class="col p-1">
                                        <button type="button" class="btn btn-primary" v-on:click="addFifteenMineralPoints">Add 15 Mineral Points</button>
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col p-1">
                                        <button type="button" class="btn btn-warning" v-on:click="substractMaintenancePoints">
                                            Substract Maintenance Points
                                            <span class="badge badge-light">{{ maintenance }}</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col p-1">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <input type="number" v-model="bidPoints" class="form-control-lg">
                                            </div>
                                            <button type="button" class="btn btn-warning" v-on:click="substractBidPoints">Substract Bid Points</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="technologies" role="tabpanel" aria-labelledby="technologies-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Technology</th>
                                        <th scope="col">New Technology Level (CP Cost)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr is="technology-button" :technology="shipSize" title="Ship Size" v-on:increase-technology="increaseTechnologyCommand"></tr>
                                    <tr is="technology-button" :technology="attack" title="Attack" v-on:increase-technology="increaseTechnologyCommand"></tr>
                                    <tr is="technology-button" :technology="defense" title="Defense" v-on:increase-technology="increaseTechnologyCommand"></tr>
                                    <tr is="technology-button" :technology="tactics" title="Tactics" v-on:increase-technology="increaseTechnologyCommand"></tr>
                                    <tr is="technology-button" :technology="move" title="Move" v-on:increase-technology="increaseTechnologyCommand"></tr>
                                    <tr is="technology-button" :technology="shipYards" title="Ship Yards" v-on:increase-technology="increaseTechnologyCommand"></tr>
                                    <tr is="technology-button" :technology="terraforming" title="Terraforming" v-on:increase-technology="increaseTechnologyCommand"></tr>
                                    <tr is="technology-button" :technology="exploration" title="Exploration" v-on:increase-technology="increaseTechnologyCommand"></tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="ships" role="tabpanel" aria-labelledby="ships-tab">
                            <div class="row p-1">
                                <div class="col p-1 text-center">Buy</div>
                                <div class="col p-1 text-center">Lose</div>
                            </div>
                            <ship-button ship="ColonyShip" cost="8" :quantity="numberColonyShips" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="ShipYard" cost="6" :quantity="numberShipYards" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="Miner" cost="6" :quantity="numberMiners" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="Decoy" cost="1" :quantity="numberDecoys" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="Scout" cost="6" :quantity="numberScouts" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="Destroyer" cost="9" :quantity="numberDestroyers" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="Base" cost="12" :quantity="numberBases" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="Cruiser" cost="12" :quantity="numberCruisers" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="BattleCruiser" cost="15" :quantity="numberBattleCruisers" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="BattleShip" cost="20" :quantity="numberBattleShips" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                            <ship-button ship="Dreadnaught" cost="24" :quantity="numberDreadnaughts" v-on:purchase-ship="purchaseShipCommand" v-on:lose-ship="loseShipCommand">
                            </ship-button>
                        </div>

                        <div class="tab-pane fade" id="commands" role="tabpanel" aria-labelledby="commands-tab">
                            <div class="row p-1">
                                <div class="col p-1 mt-5">
                                    <button type="button" class="btn btn-warning btn-block" v-on:click="undo">Undo</button>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col p-1">
                                    <ul>
                                        <li v-for="command in reverseCommands">
                                            {{ command.toString() }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <template id="ship-button">
      <div class="row p-1">
            <div class="col p-1">
                <button type="button" class="btn btn-success btn-block" v-on:click="purchaseShip">
                    {{ ship }} <small>({{ cost }})</small>
                    <span class="badge badge-light">{{ quantity }}</span>
                </button>
            </div>
            <div class="col p-1">
                <button type="button" class="btn btn-danger btn-block" v-on:click="loseShip">
                    {{ ship }}
                </button>
            </div>
      </div>
    </template>


    <template id="technology-button">
      <tr>
        <td>
          <button type="button" class="btn btn-primary btn-block" v-on:click="increaseTechnology">
            {{ title }} <span class="badge badge-light">{{ technology.currentLevel }}</span>
          </button>
        </td>
        <td>
          <ul class="list-inline">
            <li class="list-inline-item" v-for="(cost, level) in technology.cost()"><strong>{{ level }}</strong> <small>({{ cost }})</small></li>
          </ul>
        </td>
      </tr>
    </template>

    <script src="/dist/build.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
